# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
.env
.env.*

# OS
.DS_Store

# Logs
logs/
*.log

# Databases
*.db
*.sqlite3

# Test/coverage
.pytest_cache/
.coverage*

# Editor/IDE
.vscode/
.idea/
